<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Curso oferecido pela Desenvolvedor.io</div>
          <p><a href="https://desenvolvedor.io/formacao/front-end-angular-expert" target="_blank">Desenvolvimento Avançado em Angular</a></p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
